table,th,td{
	border: 1px solid black;
	font-size: small;
}

tr:hover{
   background-color: #ffff99;
}

.App {
	background-color: #F3F3F3;
}

.App-link {
  color: #61dafb;
}

.app-title{
	color:#F3F3F3;
	width:100%;
	margin:5px;
	text-align:center;
}
.app-title-main{
	font-size:xx-large;
	font-weight:bold;
}
.app-title-small{
	font-size:x-large;
}

.btn{
	color: #932432 !important;
	background-color: #F3F3F3 !important;
}

.cards-list{
	background-color: #3b5fcb;
}

.horizontal-center {
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.horizontal-right {
  margin: 0;
  position: relative;
  left: 100%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}


.filter-label{
	color:black;
	font-weight: bold;
}

.filters-list{
	float: left;
	width:100%;
	margin-top: 5em;
	text-align:center;
}

.no-padding{
	padding:none;
}


.popup-overlay {
	border: 5px black;
	border-radius: 5px;
	background: #ffffff;
	width:80%;
	height: 75%;
	margin:auto;
}
.popup-content{
	color: black;
	text-align: left;
	width:80%;
	background: #ffffff;
}
.popup-close{
	margin-top: 5px;
}


.inline{
	display:inline;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
