.App {
  text-align: center;
	background-color: #F3F3F3;
}

.App-link {
  color: #61dafb;
}

.horizontal-center {
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.horizontal-right {
  margin: 0;
  position: relative;
  left: 100%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.app-header{
	font-size:xx-large;
	font-weight:bold;
	background-color: #932432;
	color:#F3F3F3;
}

.filters-list{
	float: left;
	width:25%;
	margin-right:1em;
}

.filter-label{
	color:#3C1874;
	font-weight: bold;
}

.filter-box{

}

.cards-list{
	float: left;
	width:70%;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

.card{
	flex: 0 1 24%;
	text-align: left;
}

.card-detail{
	margin-left:10px !important;
	margin-right:10px !important;
}

.popup-overlay {
	border: 1px black;
	border-radius: 5px;
	background: #283747;
	width:67%;
	height: auto;
	margin:auto;
}
.popup-content{
	color: white;
	text-align: left;
	width:80%;
	background: #283747;
}
.popup-close{
	margin-top: 5px;
}

.btn{
	color: #932432 !important;
	background-color: #F3F3F3 !important;
}
