table,th,td{
	border: 1px solid black;
	font-size: small;
}

tr:hover{
   background-color: #ffff99;
}

.App {
	background-color: #F3F3F3;
}

.App-link {
  color: #61dafb;
}

.action-image{
	/*height: 200px;*/
	width: 100%;
	border: none;
}

.app-title{
	color: #F3F3F3;
	width:100%;
	margin:5px;
	text-align:center;
}
.app-title-main{
	font-size:xx-large;
	font-weight:bold;
}
.app-title-small{
	font-size:x-large;
}

/*This is an attempt to center this element under the label*/
.availability-toggle{
	/*margin:auto;*/
	/*width:50%;*/
}

.backdrop{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,0.7);
	z-index: 990;
}

.btn{
	color: #932432 !important;
	background-color: #F3F3F3 !important;
}

.btn-suggest{
	color: #FFFFFF !important;
	background-color: #3b5fcb !important;
	border: none;
	border-radius: 5px;
	margin-bottom:15px;
}

.cards-list{
	background-color: #3b5fcb;
}

.catalog-text{
	font-size: 20px;
}

.horizontal-center {
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.horizontal-right {
  position: relative;
  left: 100%;
  /*-ms-transform: translateX(-50%);*/
	transform: translateX(-130%);
}


.filter-label{
	color:black;
	font-weight: bold;
	z-index: 1;
}

.filters-list{
	float: left;
	width:100%;
	margin-top: 5em;
	text-align:center;
}

.no-padding{
	padding:none;
}


.popup-overlay {
	border: 5px black;
	border-radius: 5px;
	background: #ffffff;
	width:80%;
	height: 75%;
	margin:auto;
	z-index: 1000;
}
.popup-content{
	color: black;
	text-align: left;
	width:85%;
	height: 100%;
	background: #ffffff;
	overflow-x: hidden;
	overflow-y: scroll;
	z-index: 1000;
}
.popup-close{
	margin-top: 5px;
	z-index: 1000;
}


.inline{
	display:inline;
}

.sticky{
	position: sticky;
	top: 0;
}

.suggestion-form{
	display: inline-block;
	box-sizing: border-box;
}

.suggest-table{
	width: 100%;
}

.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}

.title-image{
	/*height: 200px;*/
	width: 100%;
}

.thumbnail-image{
	/*height: 200px;*/
	width: 100%;
}
